---
layout: default
title: Waffl Haus
seo:
    title: 
    description:
    social_image:
    twitter_card:
    keywords:
    hide-from-google: false
---

<section class="bg-black min-h-100">
    <div class="mx-scrn">
        <div class="aspect-square max-h-[30vw] bg-contain bg-no-repeat bg-center mx-auto" style="background-image: url(assets/images/waffl-knot.png);"></div>
        <h1 class="p-2 text-center text-white animate-from-bottom">Welcome to Waffl.Haus</h1>
    </div>

    <!-- 
    <section class="text-center text-white">
            <a href="https://jzjrp6loamk.typeform.com/to/Nny4Szu9" rel="nofollow">
                <div class="container mx-auto rounded-xl bg-slate-400">
                    <span class="block text-2xl">Take Travis' survey on Death</span>Complete to enter for a $50 gift card
                </div>
            </a>
    </section> -->

    <!-- <section class="max-w-2xl mx-auto text-center text-white">
            <div class="container mx-auto rounded-xl bg-slate-400">
                <a href="https://catanuniverse.com/en/" rel="nofollow">
                    <span class="block text-2xl">Merry Catan-mas</span>who want's to play?
                </a>
            </div>
            <div class="grid py-6">
                <h2>Friend's List</h2>
                {% for p in site.data.catan.players %}
                    <span>{{p}}</span>
                {% endfor %}
            </div>
    </section> -->

    <section>
        <h3 class="text-white">Awesome Costa Rica</h3>
        <div class="container">
            <a href="https://www.villascr.com/listing/en/440194" rel="nofollow"><img src="/assets/images/awesome house.jpg"></a>
        </div>
        <div class="bg-gradient-to-l from-[#8e4b75] to-[#ffcc02] p-2 text-black">
            <p>Mo and Jo are putting together a friendsgiving in Costa Rica, full of adventure and surprise</p>
            <p>We are shooting for Nov. 17 to Dec. 1</p>
            <p>We hope you can join us for a few days or the whole time</p>

            <h2>IF YOU ARE INTERESTED IN THE SLIGHTESET PLEASE FILL OUT THE FORM BELOW  </h2>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSe8fXlPnNAJr2TivP6AJ6kusE-Z5NsV9Z-Jlpy1rWHSeND-Qw/viewform?usp=sf_link">vvvvvvvvvvvvvvvvvv</a>
        </div>
        </div>

        
    </section>

    <!-- embed a google form -->
    <section class="mx-auto">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe8fXlPnNAJr2TivP6AJ6kusE-Z5NsV9Z-Jlpy1rWHSeND-Qw/viewform?embedded=true" width="100%" height="2200" frameborder="0" marginheight="0" marginwidth="0"></iframe>
    </section>
    {% include waffl_stream.html %}

    <!-- <div class="hidden mx-auto" id="myDiv"></div> -->
</section>




